
<%
new_url = PantryWeb.Router.Helpers.password_reset_url(PantryWeb.Endpoint, :update,  @reset_key)

%>

<p>Reset your password</p>

<p>
  We heard you've lost your password. Sorry about that!
</p>

<p>
  You can chose a new password by following <a href="<%= raw new_url %>">this link</a> or by pasting the link below in your web browser.
</p>

<p>
  <%= raw new_url %>
</p>


<p>
  --<br>
  Community Cares
</p>
