<div class="row">
  <div class="col"></div>
  <div class="col-lg-6 card">
    <h2 class="text-center">Edit Household</h2>

    <%= render "form.html", Map.put(assigns, :action, client_household_path(@conn, :update, @client, @household)) %>

    <span><%= link "Back", to: client_household_path(@conn, :index, @client) %></span>
  </div>
  <div class="col"></div>
</div>
