<h2>Edit Household</h2>

<%# <%= render "form.html", Map.put(assigns, :action, household_path(@conn, :update, @household)) %> %>

<%# <span><%= link "Back", to: household_path(@conn, :index) %></span> %>
