<h2>Edit Household</h2>

<%= render "form.html", Map.put(assigns, :action, client_household_path(@conn, :update,@client, @household)) %>

<span><%= link "Back", to: client_household_path(@conn, :index, @client, @household) %></span>
