<h2>Edit Certification</h2>

<%= render "form.html", Map.put(assigns, :action, client_certification_path(@conn, :update, @client, @certification)) %>

<span><%= link "Back", to: client_certification_path(@conn, :index, @client) %></span>
