<div class="row">
  <div class="col"></div>
  <div class="col-lg-6 card">
    <h2 class="text-center">New Voucher</h2>

    <%= render "form.html", Map.put(assigns, :action, client_voucher_path(@conn, :create, @client)) %>

    <span><%= link "Back", to: client_voucher_path(@conn, :index, @client) %></span>
  </div>
  <div class="col"></div>
</div>
