<h2>New Voucher</h2>

<%= render "form.html", Map.put(assigns, :action, client_voucher_path(@conn, :create, @client)) %>

<span><%= link "Back", to: client_voucher_path(@conn, :index, @client) %></span>
