.row.login-form {
  margin-top: 5%;
  position: relative;
}

.new-volunteer.card {
  margin-top: 5%;
  position: relative;
}

.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  margin-bottom: 10px;
}


.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  position: absolute;
  left: 0;
  top: 0;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
}
