<div class="jumbotron">
  <%= link to: page_path(@conn, :index), class: "logo" do %>
  <% end %>

  <h1 class="text-center">You reset your password</h1>
  <p class="text-center">Check your email for instructions 👍</p>

  <h4>
    Nevermind, I remembered!
  </h4>

  <%= link ("Sign in"), to: session_path(@conn, :new), class: "btn btn-success" %>
</div>
