<h2>You lost your password?</h2>
<%= form_tag(password_reset_path(PantryWeb.Endpoint, :create)) do %>
  <div class="form-group">
    <label for="username">Username or Email</label>
    <input type="text" class="form-control" name="username">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
