<h2>Edit Produce distribution</h2>

<%= render "form.html", Map.put(assigns, :action, produce_distribution_path(@conn, :update, @produce_distribution)) %>

<span><%= link "Back", to: produce_distribution_path(@conn, :index) %></span>
