<div class="row">
  <div class="col"></div>
  <div class="col-lg-6 card">
    <h2>Produce Distribution Log Sheet</h2>

    <%= render "form.html", Map.put(assigns, :action, produce_distribution_path(@conn, :create)) %>

    <span><%= link "Back", to: produce_distribution_path(@conn, :index) %></span>
  </div>
  <div class="col"></div>
</div>
